{% block content %}
    <div class="card text-center" style="margin: auto;">
        <div class="card-header"> ticket de {{ ticket.user.username }}</div>
        <div class="card-body">
        <h5 class="card-title">{{ ticket.title }}</h5>
        {% if ticket.image %}
        <img  class="ticket-img" alt="{{ ticket.title }}" id="ti-img" src="{{ ticket.image.url }}">
        {% endif %}
        </div>
        <div class="card-footer text-muted">{{ ticket.time_created }}</div>
    </div>
{% endblock content %}