{% extends 'base.html' %}
{% block content %}
<section>
    {% for item in items %}
    {% if item.content_type == 'REVIEW' %}
        {% include 'book/partials/review.html' with review=item %}
        <a href="{% url 'deleteReview' id=item.id %}" class="btn btn-primary">Supprimer</a>
        <a href="{% url 'modifyReview' id=item.id %}" class="btn btn-primary">Modifier</a>
    {% else %}
    <div class="card text-center">
        <div class="card-header">{{ item.user.username }} a demandé une critique</div>
        <div class="card-body">
        {% include 'book/partials/ticket.html' with ticket=item %}
        </div>
    </div>
    <a href="{% url 'deleteTicket' id=item.id %}" class="btn btn-primary">Supprimer</a>
    <a href="{% url 'modifyTicket' id=item.id %}" class="btn btn-primary">Modifier</a>
    {% endif %}
    {% endfor %}
</section>
{% endblock content %}